.expense{
    text-align: center;
    margin-top:75px;
    color:black;
   
}

.text{
    padding: 15px;
    margin-right:4px;
    font: outline;
    font-weight:bold;
    flex-direction: column-reverse;
 
}

.value{
    padding: 15px;
    margin-right:4px;
    color:black;
}